@model MVC.Models.LoginViewModel
@{
    ViewBag.Title = "ATM Application";
}

<script>

    $(document).ready(function () {
        clearText();
    });

    function addNumber(value) {
        var currentValue = $("#@Html.IdFor(m=>m.Password)").val();
        if (currentValue.length < 4) {
            $("#@Html.IdFor(m=>m.Password)").val(currentValue + value);
        }
    }

    function clearText() {
        $("#@Html.IdFor(m=>m.Password)").val("");
    }
</script>

<h1>@ViewBag.Title</h1>
<h3>Please enter your password</h3>
<br />

@using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
{
    if (Model.Messages != String.Empty)
    {
        <h4>@Html.ValueFor(m => m.Messages)</h4>
    }
    @Html.HiddenFor(m => m.CardNumber)
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Password, new { maxlength = "4", minlength = "4", required = "required", @readonly = "readonly", type = "password" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_KeyBoard")
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Send</button>
    <button type="button" class="btn btn-primary" onclick="clearText()">Clear</button>
    <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg active" role="button">Exit</a>    
}
